/*Variables*/
$text-primary-color: #060A24;
$text-secondary-color: #fff;

$bg-color1: #fff;
$bg-color2: #0000EC;

/* clip-path */
$bg-gradient1: repeating-linear-gradient(-225deg, #0000FF 0%, #0000A3 100%);
$bg-gradient2: repeating-linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

/* svg */
$svg-gradient1: url(#my-cool-gradient) #0000FF;
$svg-gradient2: url(#my-cool-gradient2) #0000A3;

/* boton */
$btn-color:  #00F3BB;
$btn-gradient: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);

/* enlaces */
$hover-color:  #00F3BB;
$active-color: rgba(6,10,36,0.56);


