 /*Entrevistas*/
 .entrevistas{
    margin: 0;
    h2{
        font-size: 2.25em;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 14px;
    }
    .invitados{
        display: flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        img{
            width: 100%;
        }
    }
}    