/*NOSOTROS*/
.nosotros{
    img{
        width: 320px;
        height: 519px;
        transform: translate(0px,-105px);
    }
    
    .titulo{
        margin-right: 16px;
        margin-left: 16px; 
        transform: translate(0px,-65px); 
        h2{
            font-size: 2.3em;
        }
        p{
            margin-top: 8px;
            font-size: 0.88em;
        }
    }
} 
